html {
	box-sizing: border-box;
	font-family: 'Dosis', sans-serif;
}

*,*::before, *::after {
	box-sizing: inherit;
}

body{
	margin: 0;
	padding: 0;
}


/*Header Styling*/
header{
	background-image: url("../images/subtle_white_mini_waves.png");
}

h1{
	color: #512200;
	text-align: center;
	width: 100%;
	margin: 0;
	padding: 0.5em;
}




/*Nav Styling*/

nav ul{
	list-style-type: none;
	padding: 0;
	color: #fff;
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	overflow: hidden;
}

nav ul li{
	display: inline;
	background-color: rgba(81,34,0,0.3);
	width: 25%;
	padding: 0.5em;
	margin: 0px;
	box-sizing: border-box;
	float: left;
	text-align: center;

}


/*Banner*/

.banner{
	background-image: url("../images/gravel.jpg");
	background-size: 100%, auto;
	display: block;
	margin: 0;
}

.banner h2{
	margin: 0;
	color: #fff;
	padding-top:10em;
	text-align: center;
	width: 100%;
}

/*Gallery*/

.gallery h2{
	width: 50%;
	float: left;
}

.gallery img{
	width: 50%;
	float: left;
}

/*Footer*/
footer{
		background-color: rgba(81,34,0,0.5);
		width: 100%;
}


footer img{
	width: 2.5em;
	margin: 0 auto;
}
