html {
	box-sizing: border-box;
	font-family: 'Dosis', sans-serif;
}

*,*::before, *::after {
	box-sizing: inherit;
}

body{
	margin: 0;
	padding: 0;
}


/*Header Styling*/
header{
	background-image: url("../images/subtle_white_mini_waves.png");
}

h1{
	color: #512200;
	text-align: center;
	width: 100%;
	margin: 0;
	padding: 0.5em;
	font-size: 3em;
}




/*Nav Styling*/

nav ul{
	list-style-type: none;
	padding: 0;
	color: #fff;
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	overflow: hidden;
	font-size:1.5em;
}

nav ul li{
	display: inline;
	background-color: rgba(81,34,0,0.3);
	width: 25%;
	padding: 0.5em;
	margin: 0px;
	box-sizing: border-box;
	float: left;
	text-align: center;

}


/*Banner*/

.banner{
	background-image: url("../images/gravel.jpg");
	background-size: 100%, auto;
	display: block;
	margin: 0;
}

.banner h2{
	margin: 0;
	color: #fff;
	padding-top:10em;
	padding-bottom: 1em;
	text-align: center;
	width: 100%;
	font-size: 1.5em;
	text-shadow: 4px 2px 6px rgba(150, 150, 150, 1);
}

/*Gallery*/

.gallery{
	width: 100%;
	position:relatives;
}

figure{
	width: 50%;
	float: left;
	display: block;
	background-color: green;
	margin: 0;
	position: relative;
}
figure img{
	width: 100%;
	display:block;
}

figcap{
	float: left;
	width: 100%;
	position: absolute;
	bottom: 1em;
	text-align: center;
	color: #fff;
	font-size: 1.5em;
}

/*Footer*/

footer{
		background-color: rgba(81,34,0,0.5);
		width: 100%;
}

footer img{
margin: 0 auto;
width: 3em;
display: block;
}
